* {
  box-sizing: border-box;
  user-select: none;
}

html {
  background-color: #eff1f5;
  height: 100vh;
  padding: 8px;
  font-family: sans-serif;
  color: #cdd6f4;
  font-size: 16px;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --min: calc( min(100vw, 100vh) );
}

#timer {
  font-family: SevenSegment, monospace;
  font-size: calc( var(--min) * .25 );
  --timer-color: #04a5e5;
  color: var( --timer-color );
  filter:
    drop-shadow(0px 0px 2px #000000aa)
    drop-shadow(0px 0px 4px var( --timer-color ))
    drop-shadow(0px 0px 6px var( --timer-color ))
    drop-shadow(0px 0px 12px var( --timer-color ))
    ;
}

#timer.endgame {
  --timer-color: #fe640b;
}

#timer.gameover {
  --timer-color: #d20f39;
}

#buttonbar {
  margin-top: calc( var(--min) * .09 );
}

#buttonbar > div {
  font-size: calc( var(--min) * .03 );
  border: 1px solid #8c8fa1;
  padding: calc( var(--min) * .03 );
  border-radius: var(--min);
  cursor: pointer;
  display: inline-block;
  margin: 0 calc( var(--min) * .02 );
}

#buttonbar > div:hover {
  filter: drop-shadow(0px 0px 1px #74c7ec) drop-shadow(0px 0px 1px #74c7ec);
}

audio {
  display: none;
}