html, body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  --optimal-size: calc( min(1vw, 1.3vh) );
  background-color: #181a1b;
  color: #e8e6e3;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  font-size: calc( min(5vw, 3vh) );
}

* {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

#header, #main, #footer {
  width: 100%;
}

#header {
  flex: 0 0;
  
  display: flex;
  flex-wrap: wrap;
  height: 10em;
  background: #313244;
}

.header-button {
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 0.5em;
  flex-basis: 19%;
  height: 2.5em;
  opacity: 0.5;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-button-subtitle {
  font-size: 0.5em;
}

#header-button-EI, #header-button-PT, #header-button-GP {
  flex-basis: 32%;
}

input[type=radio] {
  display: none;
}

#main {
  flex-grow: 1;
  background: #1e1e2e;
  overflow-y: auto;
  padding-top: 0.3em;
}

.question {
  margin-bottom: 1em;
}

.question-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-option {
  padding: 0.3em 0.6em;
  border-radius: 2em;
  border: 1px solid black;
  margin: 0 0.3em;
  opacity: 0.5;
  flex-basis: 4em;
  box-sizing: border-box;
}

.header-button:has(input[type="radio"]:checked),
.question-option:has(input[type="radio"]:checked) {
  opacity: 1;
  font-weight: 600;
}

#footer {
  height: 5em;
  background: #313244;
  flex: 0 0;
}

#score {
  font-size: 2em;
  font-weight: 600;
}



/* flags */
.buttonflag-notouchy {
  height: 0.8em;
/*   font-weight: 600;
  color: #d20f39; */
}

.section-flag {
  font-size: 0.8em;
  padding: 0.2em 1em;
}